<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Dashboard - LinkEye</title>
    <th:block th:replace="fragments/general :: css"></th:block>
</head>
<body id="page-top">
<div id="wrapper">
    <div th:replace="fragments/navbar :: navbar-vertical"></div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:replace="fragments/navbar :: navbar-horizontal"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Clicks (Today)</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span th:text="${totalDailyClicks ?:'0'}">Daily Clicks</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-link fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Clicks (This Month)</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span th:text="${totalMonthlyClicks ?:'0'}">Monthly Clicks</span></div>
                                    </div>
                                    <div class="col-auto"><i class="far fa-calendar-check fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Top Link (By Clicks)</span></div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="text-dark font-weight-bold h5 mb-0 mr-3"><a th:text="${topLink?.getName() ?:'N/A'}" th:href="@{'/links/' + ${topLink?.getId() ?:''}}">Top Link</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-arrow-up fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Your Newest Link</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><a th:text="${newestLink?.getName() ?:'N/A'}" th:href="@{'/links/' + ${newestLink?.getId() ?:''}}">Newest Link</a></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-crosshairs fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<th:block th:replace="fragments/general :: js"></th:block>
</body>
</html>
