<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Link Details - LinkEye</title>
    <th:block th:replace="fragments/general :: css"></th:block>
</head>

<body id="page-top">
<div class="modal fade" role="dialog" tabindex="-1" id="deleteLink">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col">
                        <div class="form-row">
                            <div class="col">
                                <p th:text="'Are you sure you want to delete ' + ${link.getName()} + '? This action cannot be undone!'">Are you sure you want to delete $linkName? This action cannot be undone!</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button><a th:href="@{'/links/' + ${link.getId()} + '/delete'}" class="btn btn-danger" type="submit">Delete</a></div>
        </div>
    </div>
</div>
<div id="wrapper">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                            <div class="input-group-append">
                                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <li class="nav-item dropdown no-arrow" role="presentation">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                    <span th:text="${#authentication.getName()}" class="d-none d-lg-inline mr-2 text-gray-600 small text-capitalize">$Username</span>
                                </a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                    <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" role="presentation" th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div>
                    <h3 class="text-dark mb-4" th:text="'Link Management - ' + ${link.getName()}">Link Management - $LinkName</h3>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Whoops, something went wrong, please verify the input and re-try.
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-xl-flex justify-content-between align-items-xl-center py-3">
                        <p class="text-primary m-0 font-weight-bold">Management Tools</p>
                        <a class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#deleteLink" href="#deleteLink" type="button">Delete Link</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <h3>Details</h3>
                                <div class="row">
                                    <div class="col">
                                        <form th:action="@{'/links/' + ${link.getId()}}" method="post" th:object="${linkDTO}">
                                            <div class="col">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label>Name</label><input th:field="*{name}" class="form-control" type="text" placeholder="New Link" required="" /></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label>Path</label><input th:field="*{path}" class="form-control" type="text" placeholder="link" required="" /></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label>Destination</label><input th:field="*{destination}" class="form-control" type="url" placeholder="https://example.com" /></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-check">
                                                            <input th:field="*{active}" class="form-check-input" type="checkbox" id="formCheck-1" /><label class="form-check-label" for="formCheck-1">Link is active</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary float-right" type="submit">Save Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3>Heat Map</h3>
                                <iframe
                                        allowfullscreen=""
                                        frameborder="0"
                                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCLKx4KAUmmUdw8KvvkHWxfa-W2SGQcGR4&amp;q=United+States&amp;zoom=3"
                                        width="100%"
                                        height="250"
                                ></iframe>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3>Clicks</h3>
                                <div class="row d-xl-flex justify-content-xl-end">
                                    <div class="col">
                                        <button class="btn btn-primary btn-sm float-right" type="button"><i class="fas fa-file-export"></i>&nbsp;Export CSV<br /></button>
                                    </div>
                                </div>
                                <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                    <table class="table table-hover dataTable my-0" id="dataTable">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>IP Address</th>
                                            <th>User Agent</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="click: ${clicks}">
                                            <td th:text="${click.getDate()}">MM/DD/YYYY</td>
                                            <td th:text="${click.getIp()}">192.168.1.1</td>
                                            <td th:text="${click.getUserAgent()}">Mozilla/5.0</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 align-self-center">
                                        <p
                                                id="dataTable_info"
                                                class="dataTables_info"
                                                role="status"
                                                aria-live="polite"
                                                th:text="'Showing Clicks '+ ${(linksShown * (page - 1)) + 1} +' - '+ ${((linksShown * page)) > totalClicksAvailable ? totalClicksAvailable : ((linksShown * page)) } + ' of ' + ${totalClicksAvailable} + ' Clicks total.'"
                                        >
                                            Showing $START to $END of $NUM_OF_LINKS
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous" th:href="@{'/links/' + ${link.getId()}}"><span aria-hidden="true">«</span></a>
                                                </li>
                                                <li th:if="${((page * linksShown) > 0 && page > 1)}" class="page-item">
                                                    <a class="page-link" th:href="@{'/links/' + ${link.getId()}(page=${page - 1},linksShown=${linksShown})}" target="_self" th:text="${page - 1}">Last page</a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#" target="_self" th:text="${page}">Current page</a></li>
                                                <li th:if="${totalClicksAvailable > (page * linksShown)}" class="page-item">
                                                    <a class="page-link" th:href="@{'/links/' + ${link.getId()}(page=${page + 1},linksShown=${linksShown})}" target="_self" th:text="${page + 1}">Next page</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next" th:href="@{'/links/' + ${link.getId()}(page=${lastPage},linksShown=${linksShown})}"><span aria-hidden="true">»</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<th:block th:replace="fragments/general :: js"></th:block>
</body>
</html>
