<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Table - LinkEye</title>
    <th:block th:replace="fragments/general :: css"></th:block>
</head>

<body id="page-top">
<div class="modal fade" role="dialog" tabindex="-1" id="deleteUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col">
                        <div class="form-row">
                            <div class="col">
                                <p th:text="'Are you sure you want to delete ' + ${user.getUsername()} + '? This action cannot be undone!'">Are you sure you want to delete %userName? This action cannot be undone!</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button><a th:href="@{'/users/' + ${user.getId()} + '/delete'}" class="btn btn-danger" type="submit">Delete</a></div>
        </div>
    </div>
</div>
<div id="wrapper">
    <div th:replace="fragments/navbar :: navbar-vertical"></div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:replace="fragments/navbar :: navbar-horizontal"></div>
            <div class="container-fluid">
                <div>
                    <h3 class="text-dark mb-4" th:text="'User Management - ' + ${user.getUsername()}">User Management - $UserName</h3>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Whoops, something went wrong, please verify the input and re-try.
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-xl-flex justify-content-between align-items-xl-center py-3">
                        <p class="text-primary m-0 font-weight-bold">Managment Tools</p>
                        <button class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#deleteUser" href="#deleteUser" type="button">Delete User</button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h3>Details</h3>
                                <form th:action="@{'/users/' + ${user.getId()}}" method="post" th:object="${userDto}">
                                    <div class="col">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label>Username</label><input class="form-control" type="text" th:field="*{username}" placeholder="Username" required="" /></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label>Password</label><input class="form-control" type="password" th:field="*{password}" placeholder="Password" /></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="d-xl-flex align-content-center">Enabled</label>
                                                    <div class="form-check"><input class="form-check-input" type="radio" name="enabled" th:field="*{enabled}" value="true" /><label class="form-check-label">Enabled</label></div>
                                                    <div class="form-check"><input class="form-check-input" type="radio" name="enabled" th:field="*{enabled}" value="false" /><label class="form-check-label">Disabled</label></div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="d-xl-flex align-content-center">Administrator</label>
                                                    <div class="form-check"><input class="form-check-input" type="radio" name="admin" th:field="*{admin}" value="true" /><label class="form-check-label">Administrator</label></div>
                                                    <div class="form-check"><input class="form-check-input" type="radio" name="admin" th:field="*{admin}" value="false" /><label class="form-check-label">Standard User</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary float-right" type="submit">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<th:block th:replace="fragments/general :: js"></th:block>
</body>
</html>
