<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Users - LinkEye</title>
    <th:block th:replace="fragments/general :: css"></th:block>
</head>

<body id="page-top">
<div class="modal fade" role="dialog" tabindex="-1" id="newUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/users}" method="post" th:object="${userDTO}">
                    <div class="col">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label>Username</label><input class="form-control" type="text" th:field="*{username}" placeholder="Username" required="" /></div>
                            </div>
                            <div class="col">
                                <div class="form-group"><label>Password</label><input class="form-control" type="password" th:field="*{password}" placeholder="Password" /></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col d-xl-flex">
                                <div class="form-group">
                                    <label class="d-xl-flex align-content-center">Enabled</label>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="enabled" th:field="*{enabled}" value="true" /><label class="form-check-label">Enabled</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="enabled" th:field="*{enabled}" value="false" /><label class="form-check-label">Disabled</label></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="d-xl-flex align-content-center">Administrator</label>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="admin" th:field="*{admin}" value="true" /><label class="form-check-label">Administrator</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="admin" th:field="*{admin}" value="false" /><label class="form-check-label">Standard User</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-success" type="submit">Create</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="wrapper">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                            <div class="input-group-append">
                                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <li class="nav-item dropdown no-arrow" role="presentation">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                    <span th:text="${#authentication.getName()}" class="d-none d-lg-inline mr-2 text-gray-600 small text-capitalize">$Username</span>
                                </a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                    <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" role="presentation" th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Users</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <div class="d-xl-flex justify-content-between align-items-center align-items-xl-center">
                            <p class="text-primary m-0 font-weight-bold">Users</p>
                            <a data-toggle="modal" data-target="#newUser" href="#newUser" class="btn btn-primary btn-sm" type="button"><i class="fas fa-plus"></i>&nbsp;Create New User</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                    <label>
                                        Show&nbsp;
                                        <select name="numItems" class="form-control form-control-sm custom-select custom-select-sm" onchange="updateUsersShown($(this).val(), window.location.href)">
                                            <option value="10" th:selected="${usersShown} == 10">10</option>
                                            <option value="25" th:selected="${usersShown} == 25">25</option>
                                            <option value="50" th:selected="${usersShown} == 50">50</option>
                                            <option value="100" th:selected="${usersShown} == 100">100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter">
                                    <label><input type="search" onkeyup="searchResults()" id="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Filter" /></label>
                                </div>
                            </div>
                        </div>
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Whoops, something went wrong, please re-try creating a user.
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                            <table class="table table-hover dataTable my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Enabled</th>
                                    <th>User Type</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getUsername()}">Username</td>
                                    <td th:text="${user.getEnabled()}">test</td>
                                    <td th:text="${user.getAuthoritiesList()}">True</td>
                                    <td><a th:href="@{'/users/' + ${user.getId()}}" class="btn btn-success btn-sm" type="button">Manage</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p
                                        id="dataTable_info"
                                        class="dataTables_info"
                                        role="status"
                                        aria-live="polite"
                                        th:text="'Showing Links '+ ${(usersShown * (page - 1)) + 1} +' - '+ ${((usersShown * page)) > totalUsersAvailable ? totalUsersAvailable : ((usersShown * page)) } + ' of ' + ${totalUsersAvailable} + ' Links total.'"
                                >
                                    Showing $START to $END of $NUM_OF_LINKS
                                </p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous" th:href="@{/users}"><span aria-hidden="true">«</span></a>
                                        </li>
                                        <li th:if="${((page * usersShown) > 0 && page > 1)}" class="page-item">
                                            <a class="page-link" th:href="@{/users(page=${page - 1},usersShown=${usersShown})}" target="_self" th:text="${page - 1}">Last page</a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#" target="_self" th:text="${page}">Current page</a></li>
                                        <li th:if="${totalUsersAvailable > (page * usersShown)}" class="page-item">
                                            <a class="page-link" th:href="@{/users(page=${page + 1},usersShown=${usersShown})}" target="_self" th:text="${page + 1}">Next page</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next" th:href="@{/users(page=${lastPage},usersShown=${usersShown})}"><span aria-hidden="true">»</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<th:block th:replace="fragments/general :: js"></th:block>
</body>
</html>
